@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
/* 폰트를 한번 손봐야 합니다. 템플릿 참고하면서 대충 가져온 폰트입니다. */
/* https://youtu.be/Y2NNmhrsoNc 참고 */

/* basic */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
  }

footer, header, main{
	margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #fff;
    line-height: 1.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom-color: transparent;
}

h2 {
    font-size: 2.85em;
}

h3 {
    font-size: 1.25em;
}

a {
    color: inherit;
    border-bottom: solid 1px rgba(255, 255, 255, 0.400);
    text-decoration: none;
}
    a:hover {
        color: #ef8376;
        border-bottom-color: transparent;
    }

p {
    text-align: justify;
}

/* header */
    header {
        background: #003458;
        color: #fff;
        position: fixed;
        width: 100%;
    }
        header nav{
            display: inline-block;
        }
        header ul{
            list-style-type: none;
            padding: 0;
        }
        header ul li{
            display: inline-block;
            margin-left: 0.5em;
            font-size: 1.2em;
            font-weight: bold;
        }
        .head_logo{
            display: inline-block;
        }
        .navbar ol{
            margin: 0;
            padding: 0;
        }
        .navbar ol li{
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        

/* main */
    main {
        font-size: 15pt;
        line-height: 1.85em;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        padding-top: 4em;
    }

/* container */
    .three_content{
        aspect-ratio: 16/9;
        padding: 0;
        background: grey;
        color: black;
    }
    .three_description{
        padding: 0.5em;
        background: #003458;
        color: #fff;
    }

/* footer */
    footer {
		height: 24em;
		position: relative;
		padding: 2em 0 2em 0;
		margin: 2em 0 0 0;

		text-align: center;
		background: #2b252c;
		color: #fff;
    }
        .logo{
            margin: 0.5em;
            margin-top: 2em;
            background: #fff;
            /* opacity: 0.7; */
        }

        /* 최대 화면크기 - 1200 */
        /* 그 이하의 경우, 화면의 최대폭에 맞춘 뒤 */
        /* 사이드바는 상단으로, 설명은 아래로 */
@media (min-width: 1200px){
    .container {
        display: block;
        width: 1200px;
        margin: 0 auto;
        border: 0;
        background-color: aquamarine;
    }    
        
}
/* 화면이 작을경우 -> 블록으로 사이드바/컨텐츠/설명(반응형) */
@media (max-width: 1200px){
    .container{
        margin: 0;
        border: 0;
        background-color: darkkhaki;
    }
}

@media (prefers-color-scheme: light) {
    /* 라이트 모드에 적용할 스타일 정의 */
    /* 화면 우상단의 다크모드 체크박스와 연동 (기본값 미선택 - white)*/
}

@media (prefers-color-scheme: dark) {
    /* 다크 모드에 적용할 스타일 정의 */
    /* 화면 우상단의 다크모드 체크박스와 연동 (기본값 미선택 - white)*/
}

