@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* basic */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
  }

footer, header, main{
    font-family: 'Noto Sans KR', 'Source Sans Pro', sans-serif;
    font-weight: 300;
	margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #fff;
    line-height: 1.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom-color: transparent;
}

h2 {
    font-size: 2.85em;
}

h3 {
    font-size: 1.25em;
}

a {
    color: inherit;
    border-bottom: solid 1px rgba(255, 255, 255, 0.400);
    text-decoration: none;
}
    a:hover {
        color: #ef8376;
        border-bottom-color: transparent;
    }

p {
    text-align: justify;
}

/* header */
    header {
        display: block;
        background: rgb(60,60,60);
        color: #fff;
        position: fixed;
        width: 100%;
    }
        .header_up{
            display: flex;
            justify-content: space-between;
            height: 3em;
            padding: 0 0.5em 0 0.5em;
        }
        .burger_div{
            margin-top: 0.5em;
            width: 6em;
            height: 2em;
            background-color: #2E3031;
            text-align: center;
        }
        .upmenus{
            display: none;
            list-style-type: none;
            padding: 0;
            
        }
        .upmenus li{
            background-color: #EA68A2;
            margin-top: 2px;
            width: 5em;
            padding: 0 0.5em 0 0.5em;
        }
        .header_logo{
            display: inline-block;
            cursor:pointer;
            font-size: 2em;
        }
        .logo_img{
            height: 1.2em;
            vertical-align: middle;
        }
        .breadcrumb{
            display: block;
            margin: 0 0 0 3px;
            padding: 0;
            border: 0;
            background-color: #2E3031;
        }
        .breadcrumbs{
            margin: 0;
            padding: 0;
            border: 0;
        }
        .breadcrumb_item{
            display: inline;
        }
        .breadcrumb_item+.breadcrumb_item::before { content: "> "; }
        input[id="burger"]{
            display: none;
        }
        input[id="burger"] + label {
            display: inline-block;
            cursor:pointer;
        }
        input[id="burger"]:checked ~ .upmenus {
            display: block;
        }

/* main */
    main {
        background-color: #2E3031;
        color: #fff;
        font-size: 15pt;
        line-height: 1.85em;
        padding: 4em 0em 0em 0em;
    }
    .main_site{
        list-style-type: none;
    }

/* container */
    .three_content_control{
        display: flex;
        justify-content: space-between;
    }
    .control_button{
        background-color: rgb(0, 104, 183);
        width: 4em;
        height: 2em;
        border-radius: 18px;
        text-align: center;
    }
    .three_content{
        aspect-ratio: 16/9;
        width: 100%;
        padding: 0;
    }
    .three_description{
        padding: 0.5em;
        background: #1D1F21;
    }
    .container_button{
        display: flex;
        justify-content: space-between;
        background-color: #4C4C4C;
    }
    .container_button_item{
        width: 4em;
        height: 2em;
        border-radius: 18px;
        text-align: center;
        background-color: rgb(0, 104, 183);
    }

/* footer */
    footer {
		height: 24em;
		position: relative;
		padding: 2em 0 2em 0;
		margin: 0em 0 0 0;

		text-align: center;
        background-color: #101314;
		/* background: #2b252c; */
		color: #fff;
    }
        .logo{
            display: inline-block;
            margin: 0.5em;
            margin-top: 2em;
            background: #fff;
        }

/* for-article */
.box1{
    border: red solid 1px;
    margin: 0.5em;
    padding: 1em;
}
.box2{
    border: #FF007F solid 1px;
    background-color: #4C4C4C;
    margin: 0.5em;
    padding: 1em;
}
.HL_yellow{
    background-color: #FFE400;
}
.HL_pink{
    background-color: #FF007F;
}

@media (min-width: 1200px){
    .container {
        width: 1200px;
        margin: 0 auto;
        border: 0;
        background-color: rgb(60,60,60);
    }    
        
}
@media (max-width: 1200px){
    .container{
        margin: 0;
        border: 0;
        background-color: rgb(60,60,60);
    }
}

@media (prefers-color-scheme: light) {
    /* 라이트 모드에 적용할 스타일 정의 */
    /* 화면 우상단의 다크모드 체크박스와 연동 (기본값 미선택 - white)*/
}

@media (prefers-color-scheme: dark) {
    /* 다크 모드에 적용할 스타일 정의 */
    /* 화면 우상단의 다크모드 체크박스와 연동 (기본값 미선택 - white)*/
}